<div class="container" >
<div class="row justify-content-center">
		<h1>Here are my latest Pursits and Interests:</h1>
	</div>
	<div class="row justify-content-center">
	<img src="pic5.jpg" alt="Pen and Paper">
	<p>
	<strong>Source:</strong><br>
	<small>https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwipnuzg1-ngAhUYqZ4KHaMVBGgQjRx6BAgBEAU&url=https%3A%2F%2Fpixabay.com%2Fimages%2Fsearch%2Fstationery%2F&psig=AOvVaw06aAtyYeEd4ipooAiJgNOd&ust=1551829921556862
	</small>
	</p>
	</div>

	<div class="row justify-content-center">
		<h2>Ideas:</h2>
	</div>
	
	
<div class="row justify-content-center">
		<p>
		<strong>Android App:</strong> Puzzle RPG: Dungeon Raid Successor<br>
		<strong>Android App:</strong> Notes/Planner app: Combining subtask creation/task completion tracking, due dates, task repetition<br>
		<strong>Web App:</strong> News Scrapper- New way to look at news across multiple sources(tag based article searching)<br>
		<strong>Android App:</strong> Counter/Timer App- Allows for the setting of multiple counters(for use with excercise or habit tracking)<br>
		</p>
	</div>
	<div class="row justify-content-center">
		<h2>In Progress:</h2>
	</div>

	<div class="row justify-content-center">
		<p><strong>Web App:</strong> Google Graphs Api Integration (using C# and .NET)
		</p>
	</div>

<div>