<div class="container" >
<div class="row justify-content-center">
		<h1>Have an Inquiry or Want to Get in Contact?</h1>
</div>
<div class="row justify-content-center">
		<h3>Here is how you can reach me:</h3>
</div>
<div class="row justify-content-center">
		<span><strong>By Email:</strong> staplern@oregonstate.edu</span>
</div>

<div class="row justify-content-center">
		<span><strong>On LinkedIn:</strong><a href="https://www.linkedin.com/in/nstapler/"> Nick Stapler</a></span>
</div>
<div class="row justify-content-center">
<p><strong>Or Directly:</strong><p>
</div>

<div class="row justify-content-center">
<form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="post" id="formy" target="_blank">
 <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" name="Name" id="name" placeholder="Joe Doe">
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="guy@gtech.com">
  </div>
  <div class="form-group">
    <label for="message">Message:</label>
    <textarea class="form-control" id="message" name ="message" rows="6"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" id="submitBut" >Submit</button>
</form>
</div>


</div>






