<div class="container" >
<div class="row justify-content-center">
		<h1>Want to improve your drawing with me?</h1>
	</div>

<div class="row justify-content-center">
	<img src="pic4.jpg" alt="Iterative Drawing">
		<p>
	<strong>Source:</strong><br>
	<small>https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjqh-PJ1ungAhUHj54KHQWKDvkQjRx6BAgBEAU&url=https%3A%2F%2Fayoqq.org%2Fiterative-drawing.html&psig=AOvVaw0ZoKAo1gu9wqnThWMgwmNo&ust=1551829519787416</small>
	</p>
	</div>
	
	<div class="row justify-content-center">
		<h2>What is this?</h2>
	</div>
	<div class="row justify-content-center scrollbox" >
		<p>These days, I am pouring most of my attention into programming. However, I still find time to enjoy animated entertainment, namely cartoons/anime. I have always been interested in improving my art skills(mostly drawing) which has led me to research ways to improve. I recently found the method of iterative drawing. This method includes focusing on just one feature or topic and drawing it a number of times, critiquing and improving from one sketch to the next. As someone who loves to see progression, I am a big fan of this idea. So, i thought it would be a fun Idea to encourage others to do the same!</p>
		<p>Below, you will find a tools you can use to iteratively draw on the website. The goal is to promote the habit of iterative drawing and provide a space for people to display their progress</p>
	</div>
	<div class="row justify-content-center">
		<h3>This content will be coming soon!(I planned for too much too soon!)<h3>
	</div>

<div>