<div class="container" >
<div class="row justify-content-center">
		<h1>Want to Hear More About Me?</h1>
	</div>
	<div class="row justify-content-center">
		<h2>Who Am I?</h2>
		<p>I'm' Nicholas Stapler, a student in the computer science student in the post-bacc. program at Oregon State. I have a degree in biomedical Engineering and am from Rancho Cucamonga, California. In my freetime, I tnjoy watching animated tv, reading fantasy novels, and hanging with friends.</p>
	</div>
	<div class="row justify-content-center">
		<h2>Random Facts:</h2>
	</div>
	<div class="row justify-content-center">
		<ul>
		<li>My childhood nickname was "The Blackhole"(I love tasty food)</li>
		<li>I gave out free hugs to strangers most fridays for 3 years during undergrad
		</li>
		<li>I have a twin(fraternal, don't get your hopes up)</li>
		<li>I get nosebleeds super easily(slight bumbs/dry weather)</li>
		</ul>
	</div>
</div>




